.logo {
    width: 300px;
}

.divlinks {
    width: 100%;
    max-width: 400px;
    text-align: center;
    line-height: 25px;
    border: 0px;
}

.divcenter {
    text-align: center;
}

.divconteudo {
    margin: 10px;
}

.divpropaganda {
    margin-top: 50px;

}

#link {
    color: #1a1a1a;
}

body {
    background-color: #ffffff;
}

.geral {
    background-color: #e676a8;
    border: 0px;
}
.geral2 {
    background-color: #862c98;
    border: 0px;
}

.zapzapcolor {
    background-color: #39890f;
    border: 0px;
}

.instacolor {
    background-color: #b12c2c;
    border: 0px;
}

.facecolor {
    background-color: #4267B2;
    border: 0px;
}